.camera-item {
  display: flex;
  align-items: center;
  padding: 10px 5px 5px 10px;
  width: 100%;
}

.camera-icon {
  flex-shrink: 0; /* 阻止图标缩小 */
  margin-right: 8px;
  font-size: 20px;
  color: #409eff; /* Element UI的主题颜色 */
}

.camera-name {
  font-size: 14px;
  text-align: left;
  white-space: nowrap; /* 确保文本在一行显示 */
  text-overflow: ellipsis; /* 使用省略号表明文本溢出 */
  &:hover {
    text-decoration: underline;
  }
}

.refresh-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  font-size: 12px; /* 缩小图标 */
  padding: 5px; /* 减少内边距 */
  border: 1px solid rgba(255, 255, 255, 0.7); /* 边框颜色和透明度 */
  background-color: rgba(255, 255, 255, 0.3); /* 背景颜色和透明度 */
  color: rgb(81, 66, 66); /* 图标颜色 */
}
